<script>
   $(document).ready(function() {
       $('#example thead tr')
           .clone(true)
           .addClass('filters')
           .appendTo('#example thead');

       var table = $('#example').DataTable({
           paging: true, //stronicowanie
           pageLength: 50,
           lengthChange: false, //change number of elements in page
           autoWidth: false,
           searching: true,
           bInfo: false, //info about number of elements in page
           bSort: true,
           orderCellsTop: true,
           scrollY: '75vh',
           scrollCollapse: true, //zeby nie robilo durnych paskow przy zmniejszeniu tabeli przez filtrowanie
           scroller: true,

           initComplete: function() {
               var api = this.api();
               api.columns([0,1,2,3,4,5])
                   .eq(0)
                   .each(function(colIdx) {
                        var cell = $('.filters th').eq(
                            $(api.column(colIdx).header()).index()
                        );
                        var title = $(cell).text();
                        $(cell).html('<input type="text" placeholder="' + title + '"/>');
                        $(
                            'input',
                            $('.filters th').eq($(api.column(colIdx).header()).index())
                        )
                            .off('keyup change')
                            .on('keyup change', function(e) {
                                e.stopPropagation();
                                $(this).attr('title', $(this).val());
                                var regexr = '({search})';
                                var curserPosition = this.selectionStart;
                                api
                                    .column(colIdx)
                                    .search(
                                        this.value != ''
                                            ? regexr.replace('{search}', '(((' + this.value + ')))')
                                            : '',
                                        this.value != '',
                                        this.value == ''
                                    )
                                .draw();

                            $(this)
                                .focus()[0]
                                .setSelectionRange(curserPosition, curserPosition);
                            });
                    });
           }
       });
       var newSearch = $("#example").DataTable();
       $('#search').keyup(function(){
           newSearch.search($(this).val()).draw();
       });
   });
</script>