<script>
   $(document).ready(function() {
       $('#example thead tr')
           .clone(true)
           .addClass('filters')
           .appendTo('#example thead');

       var table = $('#example').DataTable({
           paging: true, //stronicowanie
           pageLength: 50,
           lengthChange: false, //change number of elements in page
           autoWidth: false,
           searching: true,
           bInfo: false, //info about number of elements in page
           bSort: true,
           orderCellsTop: true,
           scrollY: '75vh',
           scrollCollapse: true, //zeby nie robilo durnych paskow przy zmniejszeniu tabeli przez filtrowanie
           scroller: true,

           order: [[3, 'asc']],

           initComplete: function() {
               var api = this.api();
               api.columns([0,1,2,3,4,5,6,7,8])
                   .eq(0)
                   .each(function(colIdx) {
                        var cell = $('.filters th').eq(
                            $(api.column(colIdx).header()).index()
                        );
                        var title = $(cell).text();
                        $(cell).html('<input type="text" placeholder="' + title + '"/>');
                        $(
                            'input',
                            $('.filters th').eq($(api.column(colIdx).header()).index())
                        )
                            .off('keyup change')
                            .on('keyup change', function(e) {
                                e.stopPropagation();
                                $(this).attr('title', $(this).val());
                                var regexr = '({search})';
                                var curserPosition = this.selectionStart;
                                api
                                    .column(colIdx)
                                    .search(
                                        this.value != ''
                                            ? regexr.replace('{search}', '(((' + this.value + ')))')
                                            : '',
                                        this.value != '',
                                        this.value == ''
                                    )
                                .draw();

                            $(this)
                                .focus()[0]
                                .setSelectionRange(curserPosition, curserPosition);
                            });
                    });
           },
           //BUTTONS
            dom: 'lfrtBip',
            buttons: [
                { //COPY
                    extend: 'copy',
                    text: '<i class="fas fa-clone"></i>',
                    className: 'btn btn-secondary',
                    titleAttr: 'Kopiuj',
                    title: 'Tabela wyników biegaczy',
                    exportOptions: { //kolumny, które ma zkopiować
                        columns: ':visible'
                    }
                },
                { //EXCEL
                    extend: 'excel',
                    text: '<i class="fas fa-file-excel"></i>',
                    className: 'btn btn-secondary',
                    titleAttr: 'Eksportuj do Excela',
                    title: 'Tabela wyników biegaczy',
                    filename: 'runnersResult',
                    exportOptions: { //kolumny, które ma exportowac do excela
                        columns: ':visible'
                    }
                },
                { //PRINT
                    extend: 'print',
                    text: '<i class="fas fa-print"></i>',
                    className: 'btn btn-secondary',
                    titleAttr: 'Wydrukuj',
                    title: 'Tabela wyników biegaczy',
                    exportOptions: { //kolumny, które ma wydrukować
                        columns: ':visible'
                    },
                    //zmiana czcionki wydrukowanego textu
                    customize: function ( win ){
                        $(win.document.body).css('font-size', '10pt')
                        $(win.document.body).find('table')
                            .addClass('compact')
                            .css('font-size', 'inherit');
                    }
                },
                { //PDF
                    extend: 'pdf',
                    text: '<i class="fas fa-file-pdf"></i>',
                    className: 'btn btn-secondary',
                    titleAttr: 'PDF',
                    filename: 'runnersResult',
                    exportOptions: { //kolumny, które ma exportowac do excela
                        columns: ':visible'
                    },
                    //Zmiana czcionki i położenia
                    customize: function ( doc ){
                        doc.content[0].text = 'Tabela wyników biegaczy';
                        doc.styles.tableHeader.alignment = 'center';
                        doc.styles.tableBodyOdd.alignment = 'center'; //wysrodkowanie szarych wierszy (nieparzystych)
                        doc.styles.tableBodyEven.alignment = 'center'; //wysrodkowanie bialych wierszy (parzystych)
                        {#doc.styles.tableHeader.fontSize = 8;#}
                        {#doc.defaultStyle.fontSize = 6;#}
                        doc.pageMargins = [0, 0, 0, 0];
                        //100% szerokosci tabeli psuje sie jesli jest za duza tabela
                        {#doc.content[1].table.widths = Array(doc.content[1].table.body[1].length + 1).join('*').split('');#}
                    }
                },
                {
                   extend: 'colvis',
                   text: 'Wybrane kolumny',
                    columnText: function (dt, idx, title) {
                        return idx + 1 + ': ' + title;
                    }
               },
            ],
           language: {
               zeroRecords: "Brak pasującyh rekordów.",
               buttons: {
                   copyTitle: 'Skopiowano do schowka',
                   copySuccess: {
                       _: '%d skopiowano rekordów'
                   }
               }
           }
       });
       var newSearch = $("#example").DataTable();
       $('#search').keyup(function(){
           newSearch.search($(this).val()).draw();
       });
   });
</script>