<script>
   $(document).ready(function() {
       var runnerName = "{{ runner.name }}";
       var runnerSurname = "{{ runner.surname }}";

       var table = $('#example').DataTable({
           paging: true, //stronicowanie
           pageLength: 50,
           lengthChange: false, //change number of elements in page
           autoWidth: false,
           searching: true,
           bInfo: false, //info about number of elements in page
           bSort: true,
           orderCellsTop: true,
           scrollY: '75vh',
           scrollCollapse: true, //zeby nie robilo durnych paskow przy zmniejszeniu tabeli przez filtrowanie
           scroller: true,
           //BUTTONS
            dom: 'lBfrtip',
            buttons: [
                { //COPY
                    extend: 'copy',
                    text: '<i class="fas fa-clone"></i>',
                    className: 'btn btn-secondary',
                    titleAttr: 'Kopiuj',
                    title: 'Wyniki: ' + runnerName + ' ' + runnerSurname,
                    exportOptions: { //kolumny, które ma zkopiować
                        columns: [0, 1, 2, 3]
                    }
                },
                { //EXCEL
                    extend: 'excel',
                    text: '<i class="fas fa-file-excel"></i>',
                    className: 'btn btn-secondary',
                    titleAttr: 'Eksportuj do Excela',
                    title: 'Wyniki: ' + runnerName + ' ' + runnerSurname,
                    filename: runnerName + runnerSurname + 'Result',
                    exportOptions: { //kolumny, które ma exportowac do excela
                        columns: [0, 1, 2, 3]
                    }
                },
                { //PRINT
                    extend: 'print',
                    text: '<i class="fas fa-print"></i>',
                    className: 'btn btn-secondary',
                    titleAttr: 'Wydrukuj',
                    title: 'Wyniki: ' + runnerName + ' ' + runnerSurname,
                    exportOptions: { //kolumny, które ma wydrukować
                        columns: [0, 1, 2, 3]
                    },
                    //zmiana czcionki wydrukowanego textu
                    customize: function ( win ){
                        $(win.document.body).css('font-size', '10pt')
                        $(win.document.body).find('table')
                            .addClass('compact')
                            .css('font-size', 'inherit');
                    }
                },
                { //PDF
                    extend: 'pdf',
                    text: '<i class="fas fa-file-pdf"></i>',
                    className: 'btn btn-secondary',
                    titleAttr: 'PDF',
                    filename: 'runnersResult',
                    exportOptions: { //kolumny, które ma exportowac do excela
                        columns: [0, 1, 2, 3]
                    },
                    //Wyśrodkowanie kolumn
                    tableHeader: {
                        alignment: 'center'
                    },
                    //Zmiana czcionki i położenia
                    customize: function ( doc ){
                        doc.content[0].text = 'Wyniki: ' + runnerName + ' ' + runnerSurname;
                        doc.styles.tableHeader.alignment = 'center';
                        doc.styles.tableBodyOdd.alignment = 'center'; //wysrodkowanie szarych wierszy (nieparzystych)
                        doc.styles.tableBodyEven.alignment = 'center'; //wysrodkowanie bialych wierszy (parzystych)
                        {#doc.styles.tableHeader.fontSize = 7;#}
                        {#doc.defaultStyle.fontSize = 6;#}
                        //100% szerokosci tabeli
                        doc.content[1].table.widths = Array(doc.content[1].table.body[1].length + 1).join('*').split('');
                    }
                },
            ],
           language: {
               buttons: {
                   copyTitle: 'Skopiowano do schowka',
                   copySuccess: {
                       _: '%d skopiowano rekordów'
                   }
               }
           }
       });
       var newSearch = $("#example").DataTable();
       $('#search').keyup(function(){
           newSearch.search($(this).val()).draw();
       });
   });
</script>