{% extends 'partials/base.html' %}

{% block content %}
    <h1>Bar Chart</h1>
    <div class="row mt-4">
        <div class="col-md-12">
            <div>
                <canvas id="myBarChart"></canvas>
            </div>
            <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
            <script>
                const runners = {{ runners|safe }};
                const labelTimes = {{labelTimes|safe}};
                console.log("labelTimes", labelTimes)
                const lapsInEveryTime = {{ lapsInEveryTime }};
                console.log("lapsInEveryTime", lapsInEveryTime)
                const colors = {{colors|safe}};
                const datasets = [];

                for(let i = 0; i < lapsInEveryTime.length; i++){
                    const backgroundColor = [colors[i % 30]];
                    const borderColor = [colors[i % 30]]
                    datasets.push({
                        {#label: lapsInEveryTime[i],#}
                        {#data: labelTimes[i],#}
                        label: ` nr. #${i}`,
                        data: lapsInEveryTime[i],
                        {#label: labelTimes[i],#}
                        {#data: lapsInEveryTime[i],#}
                        borderColor: borderColor,
                        backgroundColor: backgroundColor,
                    });
                }

                const ctx = document.getElementById('myBarChart').getContext('2d');
                const myBarChart = new Chart(ctx, {
                    type: 'bar',
                    data: {
                        labels: runners,
                        datasets: datasets
                    },
                    options: {
                        responsive: true,
                        plugins: {
                            legend: {
                                title: {
                                  display: true,
                                  text: 'Biegacze'  ,
                                },
                                position: 'right',
                            },
                            title: {
                                display: true,
                                text: 'Wykres najlepszych biegaczy'
                            }
                        },
                        scales: {
                            x:{
                                title: {
                                    display: true,
                                    text: 'Biegacze'
                                },
                            },
                            y: {
                                title: {
                                    display: true,
                                    text: 'Czas'
                                },
                            }
                        }
                    }
                });
            </script>
        </div>
    </div>
{% endblock %}