{% extends 'partials/base.html' %}

{% block content %}
    <h2>Index</h2>

    <div class="row mt-4">
        <div class="col md-4">
            <h3>Add data</h3>
            <hr>
            <form action="" method="post">
                {% csrf_token %}
                {{ form }}
                <input class="btn btn-success mt-2" type="submit" value="Add Data">
            </form>
        </div>

        <div class="col md-8">

            <div>
              <canvas id="myChart"></canvas>
            </div>

            <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

            <script>
              const ctx = document.getElementById('myChart');

              new Chart(ctx, {
                type: 'bar',
                data: {
                  labels: [{% for runningLap in runningLaps %} '{{ runningLap.runnerId}}', {% endfor %}],
                  datasets: [{
                    label: '# of Runners',
                    data: [{% for runningLap in runningLaps %} {{ runningLap.numberOfLaps }}, {% endfor %}],
                    borderWidth: 1
                  }]
                },
                options: {
                  scales: {
                    y: {
                      beginAtZero: true
                    }
                  }
                }
              });
            </script>

        </div>
    </div>

{% endblock %}