{% extends 'partials/base.html' %}
{% block content %}
    {% load static %}
    <html>
        <head>
            <title>XD</title>
            <script src="{% url 'js-catlog' %}"></script>
            <script src="{% static '/admin/js/core.js' %}"></script>
{#            <link rel="stylesheet" href="{% static 'admin/css/base.css' %}">#}
            <link rel="stylesheet" href="{% static 'admin/css/widgets.css' %}">
        </head>
        <body>
            <form method="post" style="align-items: center">
                {% csrf_token %}
                {{ form.media }}
                {{ form.as_p }}
                <input type="submit" name="submit" id="submit">
            </form>
        </body>
    </html>

{% endblock %}