{% extends 'partials/base.html' %}

{% block content %}
    <div>
        <head>
            {% load static %}
            <title>Panel administratorski</title>

            <script src="{% url 'js-catlog' %}"></script>
            <script src="{% static '/admin/js/core.js' %}"></script>
            <link rel="stylesheet" href="{% static 'admin/css/widgets.css' %}">
        </head>
        <body>
            <div class="xd">
                <br>
                <form method="post">
                    {% csrf_token %}
                    <div style="width: 95%; margin-left: auto; margin-right: auto">
                        <div style="float: left;">
                            <span style="display: inline-block;">
                                {{ mainTime.time_input }}
                                {{ mainTime.media }}
                            </span>
                            <button type="submit" name="checkBoxSubmit" id="checkBoxSubmit" class="btn btn-danger text-center" title="checkBox">
                                <i class="fa-solid fa-person-running"></i>
                                Rozpocznij/Zakoncz biegi
                            </button>
                        </div>
                    </div>
                    <div style="clear: both;"></div>
                    <div class="TableContainer">
                        <table class="table table-bordered table-striped table-hover table-responsive" id="example" style="text-align: center;">
                            <thead class="table-success">
                                <tr>
                                    <th style="width: 5%; color: transparent"></th>
                                    <th style="width: 5%;">ID</th>
                                    <th style="width: 10%;">Imie</th>
                                    <th style="width: 15%;">Nazwisko</th>
                                    <th style="width: 10%;">Liczba okrazen</th>
                                    <th style="width: 15%;">Aktualny stan</th>
                                    <th style="width: 15%;">Czas rozpoczecia okrazenia</th>
                                    <th style="width: 25%;">Rozpocznij/Zakoncz Bieg</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for lastRun in lastRunsData %}
                                <tr>
                                    <td>
                                        <input type="checkbox" name="selected_items" value="{{ lastRun.0 }}">
                                    </td>
                                    <td>{{ lastRun.0 }}</td>
                                    <td>{{ lastRun.1 }}</td>
                                    <td>{{ lastRun.2 }}</td>
                                    <td>{{ lastRun.3 }}</td>
                                    {% if lastRun.5 == 'ODPOCZYWA' %}
                                        <td style="color: blue">{{ lastRun.5 }}</td>
                                    {% elif lastRun.5 == 'BIEGNIE' %}
                                        <td style="color: red">{{ lastRun.5 }}</td>
                                    {% else %}
                                        <td>{{ lastRun.5 }}</td>
                                    {% endif %}
                                    <td>{{ lastRun.4 }}</td>
                                    <td>
                                        {% if lastRun.5 == 'ODPOCZYWA' %}
                                            <form method="post" style="align-items: center">
                                                {% csrf_token %}
                                                {% if forloop.first %}
                                                    {{ lastRun.6.media }}
                                                {% endif %}
                                                <div>
                                                    <span style="display: inline-block;">
                                                        {{ lastRun.6.start_time_input }}
                                                        {{ lastRun.6.end_time_input.as_hidden }}
                                                    </span>
                                                    <button type="submit" name="singleInputSubmit" id="submit" class="btn btn-primary text-center rounded-circle" title="start">
                                                        <i class="fa-solid fa-play"></i>
                                                    </button>
                                                </div>
                                            </form>
                                        {% elif lastRun.5 == 'BIEGNIE' %}
                                            <form method="post" style="align-items: center">
                                                {% csrf_token %}
                                                {% if forloop.first %}
                                                    {{ lastRun.6.media }}
                                                {% endif %}
                                                <div>
                                                    <span style="display: inline-block;">
                                                        {{ lastRun.6.start_time_input.as_hidden }}
                                                        {{ lastRun.6.end_time_input }}
                                                    </span>
                                                    <button type="submit" name="singleInputSubmit" id="submit" class="btn btn-danger text-center" title="stop">
                                                        <i class="fa-solid fa-stop"></i>
                                                    </button>
                                                </div>
                                            </form>
                                        {% endif %}
                                    </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </form>
            </div>
        </body>
    </div>
{% endblock %}