{% extends 'partials/base.html' %}

{% block content %}
    {% load static %}
    <div>
        <head>
            <title>Panel administratorski</title>
            <script src="{% url 'js-catlog' %}"></script>
            <script src="{% static '/admin/js/core.js' %}"></script>
            <link rel="stylesheet" href="{% static 'admin/css/widgets.css' %}">
        </head>
        <body>
            <div class="TableContainer">
                <br>
                <table class="table table-bordered" id="example" style="text-align: center;">
                    <thead class="table-success">
                        <tr>
                            <th style="width: 10%;">ID</th>
                            <th style="width: 10%;">Imie</th>
                            <th style="width: 15%;">Nazwisko</th>
                            <th style="width: 10%;">Liczba okrazen</th>
                            <th style="width: 20%;">Czas rozpoczecia nastepnego okrazenia</th>
                            <th style="width: 15%;">Aktualny stan</th>
                            <th style="width: 15%; color: transparent">Dodaj</th>
                            <th style="width: 5%; color: transparent">C</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for lastRun in lastRunsData %}
                        <tr>
                            <td>{{ lastRun.0 }}</td>
                            <td>{{ lastRun.1 }}</td>
                            <td>{{ lastRun.2 }}</td>
                            <td>{{ lastRun.3 }}</td>
                            <td>{{ lastRun.4 }}</td>
                            <td>{{ lastRun.5 }}</td>
                            <td>
                                {% if lastRun.5 == 'ODPOCZYWA' %}
                                    <form method="post" style="align-items: center">
                                        {% csrf_token %}
                                        {{ form.media }}
                                        {{ form.as_p }}
                                        <button type="submit" name="submit" id="submit" class="btn btn-primary text-center rounded-circle" title="start">
                                            <i class="fa-solid fa-play"></i>
                                        </button>
                                    </form>
                                {% elif lastRun.5 == 'BIEGNIE' %}
                                    <a class="btn btn-danger text-center" title="stop"><i class="fa-solid fa-stop"></i></a>
                                {% endif %}
                            </td>
                            <td>
                                <input type="checkbox" name="checkboxName" value="checkboxValue">
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </body>
    </div>
{% endblock %}