body, html {
    margin: 0;
    padding: 0;
    /*height: 100%;*/
    max-width: 100%;
    height: 100%;

    display: grid;
    grid-template-rows: 1fr auto;
}

.myNavAndContent{
    max-width: 100%;
    overflow-x: hidden;
    height: 100%;
    /*height: 93%;*/

    /*usuniecie scrolla pionowego*/
    /*overflow: hidden;*/
}


.wrapper{
    overflow: hidden;
}


footer{
    grid-row-start: 2;
    grid-row-end: 3;

    /*height: 7%;*/
    margin: 0px;
    padding: 0px;

    width: 100%;
    /*position: absolute;*/
    /*bottom: 0;*/
    /*left: 0;*/
    /*right: 0;*/

    /*display: flex;*/
    align-items: center;
}

.TableContainer{
    width: 95%;
    margin-left: auto;
    margin-right: auto;
}

/* datable pagination */
.page-item.active .page-link {
    columns: #fff;
    background-color: #6c757d;
    border: 1px solid #6c757d;
}
.pagination > li > a {
    background-color: #fff;
    color: #6c757d;
}
.pagination > li > a:focus,
.pagination > li > a:hover,
.pagination > span > a:focus,
.pagination > span > a:hover {
    color: #111;
    background-color: #d3d3d3;
    border: 1px solid #6c757d;
    box-shadow: none;
}

.dataTables_filter{
    /*margin-bottom: 20px !important;*/
    display: none;
}

.dataTables_length{
    float: right !important;
}

/*CSS do przycisków kopiuj, excel, drukuj, pdf */
.dt-buttons{
    margin-bottom: 5px !important;
}

/*naglowki tabel bez sortowania sa bez napisow nie dziala*/
/*.sorting_disabled{*/
/*    color: transparent !important;*/
/*}*/

/*naglowki tabel bez sortowania sa bez napisow dziala ale do wszystkich tabel*/
/*th:nth-child(7), th:nth-child(8){*/
/*    border: none;*/
/*}*/

thead input {
    width: 100%;
    text-align: center;
}
