{% extends 'partials/base.html' %}
{% block content %}
    <div style="width: 50%; margin: 0 auto">
        <form method="post">
            {% csrf_token %}
            <div>
                <h1 >Witaj ponownie!</h1>
                <p style="font-size: 24px">Zaloguj się, aby móc korzystać z serwisu jako administrator</p>
            </div>
            <div>
                <label for="username" class="form-label" style="font-size: 24px">Username</label>
                <input type="text" class="form-control" name="username">
            </div>
            <div>
                <label for="password" class="form-label" style="font-size: 24px">Password</label>
                <input type="password" class="form-control" name="password">
            </div>

            {% if request.GET.next %}<input type="hidden" name="next" value="{{request.GET.next}}" />{% endif %}

            <button type="submit" name="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
{% endblock %}