<!-- my_template.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Checkbox Table</title>
</head>
<body>
        <span>OK</span>
        <span>OK2</span>

    <form method="post">
        {% csrf_token %}
        {{ form.as_table }}
        <button type="submit">Submit</button>
    </form>
</body>
</html>



{#<!DOCTYPE html>#}
{#<html>#}
{#<head>#}
{#    <title>My Form Example</title>#}
{#</head>#}
{#<body>#}
{#    <form method="post">#}
{#        {% csrf_token %}#}
{#        <table>#}
{#            <thead>#}
{#                <tr>#}
{#                    <th>Example</th>#}
{#                    <th>Char Field</th>#}
{#                    <th>Time Field</th>#}
{#                    <th>Action</th>#}
{#                </tr>#}
{#            </thead>#}
{#            <tbody>#}
{#                {% for item in exampleList %}#}
{#                <tr>#}
{#                    <td>{{ item }}</td>#}
{#                    <td>{{ form.char_field }}</td>#}
{#                    <td>{{ form.time_field }}</td>#}
{#                    <td><input type="submit" name="submit_{{ item }}" value="Submit"></td>#}
{#                </tr>#}
{#                {% endfor %}#}
{#            </tbody>#}
{#        </table>#}
{#    </form>#}
{#</body>#}
{#</html>#}


{#<!DOCTYPE html>#}
{#<html>#}
{#<head>#}
{#    <title>My Form Example</title>#}
{#</head>#}
{#<body>#}
{#    <form method="post">#}
{#        {% csrf_token %}#}
{#        <table>#}
{#            <thead>#}
{#                <tr>#}
{#                    <th>Example</th>#}
{#                    <th>Char Field</th>#}
{#                    <th>Time Field</th>#}
{#                </tr>#}
{#            </thead>#}
{#            <tbody>#}
{#                {% for item in exampleList %}#}
{#                <tr>#}
{#                    <td>{{ item }}</td>#}
{#                    <td>{{ form.char_field }}</td>#}
{#                    <td>{{ form.time_field }}</td>#}
{#                </tr>#}
{#                {% endfor %}#}
{#            </tbody>#}
{#        </table>#}
{#        <input type="submit" value="Submit">#}
{#    </form>#}
{#</body>#}
{#</html>#}



{#{% extends 'partials/base.html' %}#}
{#{% block content %}#}
{#    {% load static %}#}
{#    <html>#}
{#        <head>#}
{#            <title>XD</title>#}
{#            <script src="{% url 'js-catlog' %}"></script>#}
{#            <script src="{% static '/admin/js/core.js' %}"></script>#}
{#            <link rel="stylesheet" href="{% static 'admin/css/widgets.css' %}">#}
{#        </head>#}
{#        <body>#}
{#            <form method="post">#}
{#                {% csrf_token %}#}
{#                <div class="TableContainer">#}
{#                    <table class="table table-bordered" id="xd" style="text-align: center;">#}
{#                        <thead class="table-success">#}
{#                            <tr>#}
{#                                <th> t</th>#}
{#                                <th> d</th>#}
{#                                <th> time</th>#}
{#                            </tr>#}
{#                        </thead>#}
{#                        <tbody>#}
{#                            <div>#}
{#                                <form method="POST" enctype="multipart/form-data">#}
{#                                    {% csrf_token %}#}
{#                                    {{ formset.as_p }}#}
{#                                    <input type="submit" value="Submit">#}
{#                                </form>#}
{#                            </div>#}
{#                        </tbody>#}
{#                    </table>#}
{#                </div>#}
{#            </form>#}
{#        </body>#}
{#    </html>#}
{#{% endblock %}#}