<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <i class="fa-solid fa-person-running" style="color: #fff;"></i>
        <a class="navbar-brand" href="#">Bieg nocny</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'line_chart' %}">Wykres biegów</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'resultTable' %}">Tabela wyników</a>
                </li>
          </ul>
        </div>
        <div class="d-flex" style="margin-right: 25px">
            <div class="input-group input-group-sm">
                <input class="form-control" type="search" id="search" placeholder="Wyszukiwarka wszystkiego" aria-label="Search">
                <a href="{% url 'resultTable' %}" class="btn btn-secondary btn-sm">
                    <i class="fas fa-sync-alt"></i>
                </a>
            </div>
        </div>
    </div>
</nav>